body { 
    background-image: url("assets/img/cerezos3.gif"); 
    background-position: center 25%; 
    background-size: cover; 
  }
  .section-bg{
    background-image: url("assets/img/hearts.gif"); 
    background-position: center 25%; 
    background-size: cover;
  }